#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: Helvetica;
  line-height: normal;
}

body{
  background-color: #EEEEEE;
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#454545;
  font-family: Helvetica;
  padding:0 10px;
}

h1{
  font-size: 36px;
  line-height: 1.2;
}
footer{
  font-size: 12px;
  line-height: 1.2;
}

/*#img-blurb{
  display: block;
  margin:auto;
  max-width: 650px;
}*/

/*#us-map{
  display: block;
  margin:auto;
  max-width: 650px;
}*/
path:hover {
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;
}
#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}

/*#img {
  display: block;
  margin: auto;
  max-width: 650px;
}*/
